<div class="container">
    <div class="navbar row">
        <div class="col-8"></div>
        <a class="nav-link btn btn-info col-2" href="/ideas">Bright Ideas</a>
        <% if @user %>
            <form class="col-2"action="/sessions/<%=@user.id%>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" class="btn btn-info" value="Log Out">
            </form>
        <% end %>
    </div>
    <div class="container">
        <a href="/users/<%= @idea.user.id %>"><%= @idea.user.alias %></a> says:
        <div class="border border-dark">
            <%= @idea.content %>
        </div>
    </div>
        <hr>
    <div class="container">
        <p>People who liked this post:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Alias</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><a href="/users/<%= user.id %>"><%= user.alias %></a></td>
                    <td><%= user.name %></td>
                  </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
